@using SharedVm
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model IList<CartVm>
@{
    var backendUrl = Configuration.GetServiceUri("backend");
}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Cart Page</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Promotion Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
                                                <td><a href="#"><img src="@backendUrl/@item.ProductImage" alt="img"></a></td>
                                                <td><a class="aa-cart-title" href="#">@item.ProductName</a></td>
                                                <td>@item.ProductPrice</td>
                                                <td>@item.ProductPromotionPrice</td>
                                                <td><input class="aa-cart-quantity" type="number" value="@item.Quantity"></td>
                                                @if (item.ProductPromotionPrice.HasValue)
                                                {
                                                    <td>@{var total = item.ProductPromotionPrice * item.Quantity;} @total</td>
                                                }
                                                else
                                                {
                                            <td>@{var total = item.ProductPrice * item.Quantity;} @total</td>
                                                }

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Cart Totals</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                    <tr>
                                        <th>Subtotal</th>
                                        <td>$450</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td>$450</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/CheckoutClient/Index" class="aa-cart-view-btn">Proced to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->